<h1>Places I've Been</h1>
<h3>Add a new place to the list:</h3>
<form action="/places" method="post">
  <label for="new-place">Place Name</label>
  <input type="text" name="new-place" id="new-place">
  <button type="submit">Add this place</button>
</form>
