<h1>A List of Places I've Been</h1>
<ul>
  @foreach (var place in Model)
  {
    <li><a href='/places/@place.GetId()'>@place.GetPlaceName()</a></li>
  }
</ul>
<a href="places/new">Add another place</a>
